body {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin:auto ;
    padding: 13px
    }
    h1 {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    p {
    text-align: center;
    background-color: aqua;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }
    h6 {
    text-align: right;
    background-color: blue;
    font-size: large;
    }
    table {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;